@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@100;200;300;400;500;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    width: 100vw;
    font-family: sans-serif;
    user-select: none;
}
.dark{
    background-color: rgb(0, 0, 0);
}


  
 
  
  
  

